*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
:root{
    --primary-color: #f5cd06;
    --secondary-color: #8e4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    font-family: "Righteous", sans-serif;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
header a{

    display: flex;
    height: 100%;
    align-items: center;
    font-size: 24px;
    color: var(--secondary-color);
    gap: 16px;
}

header div{
    display: flex;
    gap: 24px;
}
main{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.title{
    position: relative;

    color: white;
}
.title h1{
    font-size: 20vw;
    text-align: center;
}

.title span{
    font-size: 25vw;
    position: absolute;
    top: -40%;
    opacity: 0.3;
}

.container{
    display: flex;
    align-items: end;
    z-index: 1;
}

.container div{
    width: 50%;
    color: var(--secondary-color);
}
.container h2{
    font-size: 4vw;

}
.container p{
    font-size: 1.5vw;
    width: 40vw;
}
.action{
    display: flex;
    justify-content: end;
}

.action a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 48px;

}

footer{
    height: 50px;
    text-align: center;
    color: var(--secondary-color);
    font-style: italic;
}

.pikachu-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 65vh; 
}

  